
version: '3.8'

services:
  backend:
    build: ./backend
    container_name: wechat_rss_backend
    restart: always
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=sqlite:////app/data/db.sqlite
      - TZ=Asia/Shanghai
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: wechat_rss_frontend
    restart: always
    ports:
      - "18080:80"
    depends_on:
      - backend
